/* { outline: 1px solid red; }*/

body {
  margin: 0;
  padding: 0;
  background-color: #002E5D;
  min-width: 321px;
  height: auto;
}

#heroSection {
  background-color: #F7F7F7;
  height: 1000px;
}

.heroImage {
  z-index: 0;
  max-width: 612px;
  right: 0;
}

#wave1 {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  border: 0;
  height:164px;
  z-index: 1;
  bottom: 0;
}

.heroTextContainer {
  position: absolute;
  display: flex;
  padding: 0px;
  gap: 4px;
  left: 142px;
  top: 486px;
  z-index: 1;
  justify-content: flex-start;
  align-content:baseline;
  flex-wrap: wrap;
  width: 690px;
  margin-bottom: 200px;
}

.heroText1 {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.11em;
  color: #181818;
  width: 370px;
  padding-top: 33px;
  padding-right: 8px;
}

.magic {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 90px;
  letter-spacing: 0.11em;
  color: #181818;
  width: 235px;
}

.heroText2 {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.11em;
  color: #181818;
  width: 690px;
}

@media screen and (max-width: 1320px) {
  .heroTextContainer {
      position: absolute;
      left: 5%;
      top: 20%;
  }
  .heroImage {
      height: 700px;
      width: auto;
      position: relative;
      margin-right: -40px;
      float: right;
  }
  .heroText1 {
      font-size: 20px;
      width: 300px;
      padding-top: 57.75px;
      padding-right: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-right: -50px;
  }
  .magic {
      font-size: 30px;
      font-weight: 900;
      padding-bottom: 0;
      padding-top:30px;
      margin-bottom: 0;
  }
  .heroText2 {
      font-size: 20px;
      padding-top: 0px;
      margin-top: -30px;
      margin-bottom: 24px;
      }
}

#caseStudies {
  background: linear-gradient(90deg, #FAF1CA -30.97%, #F59171);
  height: 2675px;
  max-width: 1440px;
  padding: 0;
  min-width: 321px;
}

h1 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
  float: left;
  padding-left: 132px;
  font-size: 56px;
  padding-top: 0;
  margin-top: 0;
  color: #444444;
}

.subheadings {
  font-family:"Roboto Flex", sans-serif;
  position: absolute;
  left: 140px;
  padding-top: 64px;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.11em;
  color: #444444;
  flex: none;
  order: 1;
  flex-grow: 0;

}

.caseStudy1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 22px;
  position: absolute;
  width: 1304.17px;
  height: 490px;
  left: 136px;
  top: 1379px;
}

.caseTextArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 572px;
  height: 220px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.caseTitles {
  width: 572px;
  height: 58px;
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  font-size: 56px;
  line-height: 73px;
  letter-spacing: -0.01em;
  color: #444444;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  border-bottom: 0;
  margin: 0;
}

.caseSubheading {
      /* Nonprofit website redesign. */
  width: 572px;
  height: 38px;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  letter-spacing: 0.11em;
  color: #444444;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 0px;
  margin-top:-4px;
}

.learnMoreButton {
      /* Button3 */
  box-sizing: border-box;
  width: 300px;
  height: 60px;
  background: #444444;
  border: 3px solid #444444;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #F7F7F7;
}

.learnMoreButton:hover {
  /* Property 1=Variant2 */
  background: #F7F7F7;
  color: #444444;
}

.heroImg {
  width: auto;
  order: 1;
  flex-grow: 0;
  overflow: clip;
}

.caseStudy2 {
      /* Frame 15 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1300px;
  height: 491px;
  left: 137px;
  top: 2144px;
}

.caseStudy3 {
  /* Frame 16 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1300px;
  height: 490px;
  left: 140px;
  top: 2910px;
}

.wave2 {
  position: absolute;
  display: flex;
  justify-self: center;
  max-width: 1440px;
  width: 100%;
  height: 192px;
  top: 3623px;
  transform:flip;
  background-color: #F7F7F7;
  border: 0;
  margin:0;
  padding-bottom: 200px;
  margin-bottom: 100px;
  margin-top: 100px;
}

#aboutMe {
  display: flex;
  height: 1070px;
  color: white;
  justify-content: start;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  margin-top: 0;
  z-index: 0;
  max-width: 1440px;
  padding: 0;
  min-width: 321px;
  background-color: #F7F7F7;
}

/* About Me */
.aboutHeading {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 56px;
  padding-top: 0;
  margin-top: 250px;
  margin-right: 137px;
  color: #444444;
}

.aboutSubheading {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.11em;
  color: #444444;
  margin-right: 137px;
  margin-top: -24px;
  padding-top: 0;
}

.aboutText {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  display: flex;
  align-items: center;
  color: #444444;
  width: 568px;
  height: 445px;
  margin-right: 137px;
  text-align: justify;
}

.aboutImg {
  align-self: start;
  justify-self: center;
  position: absolute;
  margin-top: 425px;
  margin-left: 5vw;
  margin-bottom: 100px;
}

#wave3 {
  /* Vector 22 */

  position: absolute;
  width: 100%;
  height: 192px;
  top: 1000px;
  background-color: #F7F7F7;
  z-index: 1;
  max-width: 1440px;
}
a {
  text-align: center;
}

#footer {
  width: 100vw;
  line-height: 60px;
  color: #F1F1F1;
  margin-top: 50px;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.navbar {
  /* mainNavigationBackground */
  top: 0%;
  background: #00BD87;
  border-bottom: solid 5px black;
  min-width: 321px;
}

#navContainer {
  display: flex;
  min-width: 321px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
  min-width: 321px;
}

.nav-link {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #181818;
}

.navbar-brand {
  /* logoText Austen Courpet*/
  font-family: "Roboto", "serif";
  width: 132px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #181818;
}

.subHeading {
    /* User Experience Designer*/
  width: 328px;
  height: 43px;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #181818;
}

.textExpand {
  letter-spacing: 8%;
}

.navbar-toggler {
  display: flex;
}

@media (max-width: 1199px) {
  .navbar-brand {
    font-size: 24px;
  }
  .subHeading {
    font-size: 14px;
  }
}

.header {
  /*container*/
  display: block;
  align-items: flex;
  justify-items: start;
  margin-left: 0;
  text-align: left;
  padding-left: 0;
}

.card {
  border:none;
  width: 100%;
  border-radius: 0;
}

#resume {
  background: linear-gradient(90deg, #FAF1CA -30.97%, #F59171 100%);
  min-width: 321px;
  margin-top: 100px;
}

.cardContainer {
  border: 0;
  padding: 0;
  background-color: #F1F1F1;
  border-radius: 0;
}

.card {
  background-color: #F1F1F1;
}

.button {
  margin-top: 220px;
  padding-top: 20px;
}

.colorClass {
  background-color: #F1F1F1;
}

.container-fluid {
  max-width: 1440px;
  padding: 0;
  height: auto;
  min-width: 321px;
}

.headingSection {
  /* backgroundResume */
  max-width: 1440px;
}

.row {
  max-width: 1204px;
  margin: auto;
}

.resumeHeader {
  margin-top: 75px;
  width: 100%;
  text-align: left;
  font-size: 3.8em;
  display: none;
  right: 200px;
  margin-left: 41%;
}

#resHead {
  min-height: 353px;
  overflow: clip;
}

#resumeHeader {
  margin-left: 52%;
  margin-top: 12px;
  max-width: 46%;
  text-align: left;
  font-size: 1.75em;
  margin-bottom: 0px;
  right: 200px;
  display: none;
}

.resIcons {
  max-width: 50px;
  max-height:50px;
  margin-right: 12px;
  filter:saturate(0%);
  margin-left: 0;
}

.fig {
  max-width: 50px;
  max-height:50px;
  margin-right: 6px;
  filter:saturate(0%);
  margin-left: -6px;
}

#resumeHeader::after {
  content:"User Experience Designer";
}

@media (max-width: 469px) {
  #cat {
    min-width: auto;
    max-width: 51px;
  }

  .navbar-brand {
    max-width: 173px;
  }
  #resCat {
    width: 207px;
    padding-bottom: 500px;
  }
}

@media (max-width: 900px) {

  .resumeHeader {
    margin-right: 24px;
    margin-top: 75px;
    max-width: 46%;
    text-align: right;
    font-size: 3em;
  }
  #whiteEllipse {
    display: none;
  }
  #resumeHeader {
    margin-right: 24px;
    margin-top: 12px;
    max-width: 50%;
    text-align: right;
    font-size: 1.75em;
    margin-bottom: 0px;
  }
  
  #resumeHeader::before {
    content: none;
  }

  #resumeHeader::after {
    content:"UX Designer";
    letter-spacing: 8px;
  }
}

.list-group-item {
  border: none;
  background-color: #F1F1F1;
  margin-left: 24px;
}

.twoRows {
width: 50%;
}

.card-header {
  background-color: #1A1A1A;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0;
  margin: 2%;
}

.card-header:first-child {
  border-radius: 0;
}

#resCat {
  position:absolute;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 13.2%;
  z-index: 100;
  max-width: 299px;
  min-width: 199px;
  display: none;
  left: -200px;
  animation: rotate360 1s ease-in;
}

@keyframes rotate360 {
  from {
    transform: rotate(-180deg);
  }
to {
    transform: rotate(0deg);
  }
}

#topLeftSq {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
  max-width: 400px;
  left: -300px;
}

#whiteEllipse {
  position: absolute;
  top: 0;
  z-index: 2;
  max-width: 348px;
  margin-left: 11.28%;
  left: -200px;
}

.headingSection {
  margin-left: 8%;
  margin-bottom: 100px;
  padding-top: 48px;
}

.wave {
  height: 50px;
}

.right {
  text-align: left;
  position: center;
}

.left{
  text-align: left;
  margin-left: 0;
}

.tools {
  display: flex;
  margin-left: -35px;
}

.card-header {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: #F1F1F1;
}

h1 {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 73px;
  letter-spacing: -0.01em;
  color: #181818;
}

h2 {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.11em;
  color: #181818;
}

#quickLink {
  width: 291px;
  height: 35px;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.11em;
  color: #444444;
  text-decoration-line: underline;
  text-underline-offset: 8px;
  padding-right: 0;
  margin-right: -12px;
}

.res {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #1A1A1A;
}

.toTop {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footerText {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.11em;
  color: #F7F7F7;
  text-decoration: none;
  line-height: 28px;
}

.otherA {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0.11em;
  color: #F7F7F7;
  text-decoration: underline;
}

p {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0.11em;
  color: #F7F7F7;
  text-decoration: none;
}

.email {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0.11em;
  color: #F7F7F7;
  text-decoration: none;
}
